<a href="https://colab.research.google.com/github/devferx/platzi-numpy-pandas/blob/main/14_manejo_de_datos_nulos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Manejo de datos nulos

Los datos nulos son dolores de cabeza para este mundo de la ciencia de datos y se van a encontrar mucho en nuestros DataFrames

In [1]:
import pandas as pd
import numpy as np

Creamos un DataFrame con algunos valores nulos

In [3]:
my_dict = {
    'Col1': [1,2,3,np.nan],
    'Col2': [4, np.nan,6,7],
    'Col3': ['a', 'b', 'c', None]
 }

In [4]:
df = pd.DataFrame(my_dict)

In [5]:
df

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   NaN     b
2   3.0   6.0     c
3   NaN   7.0  None

Identificar valores nulos en un DataFrame

In [6]:
df.isnull()

    Col1   Col2   Col3
0  False  False  False
1  False   True  False
2  False  False  False
3   True  False   True

Identificar valores nulos con un valor numérico

In [7]:
df.isnull() * 1

   Col1  Col2  Col3
0     0     0     0
1     0     1     0
2     0     0     0
3     1     0     1

Sustituir los valores nulos por una cadena

In [8]:
df.fillna('Missing')

      Col1     Col2     Col3
0      1.0      4.0        a
1      2.0  Missing        b
2      3.0      6.0        c
3  Missing      7.0  Missing

Sustituir valores nulos por una medida estadística realizada con los valores de las columnas

In [9]:
df.fillna(df.mean())

<ipython-input-9-a2478f315f9e>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.fillna(df.mean())

   Col1      Col2  Col3
0   1.0  4.000000     a
1   2.0  5.666667     b
2   3.0  6.000000     c
3   2.0  7.000000  None

Sustituir valores nulos por valores de **interpolación**

In [10]:
df.interpolate()

   Col1  Col2  Col3
0   1.0   4.0     a
1   2.0   5.0     b
2   3.0   6.0     c
3   3.0   7.0  None

Eliminar valores nulos

In [11]:
df.dropna()

   Col1  Col2 Col3
0   1.0   4.0    a
2   3.0   6.0    c

### Recursos
- [pandas.isnull](https://pandas.pydata.org/docs/reference/api/pandas.isnull.html)
- [pandas.DataFrame.fillna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.fillna.html)
- [pandas.DataFrame.dropna](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html)