<a href="https://colab.research.google.com/github/devferx/platzi-numpy-pandas/blob/main/19_merge_%26_concat.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Merge y Concat
Como podemos usar la l칩gica anteriormente vista en c칩digo, usando los par치metros de Pandas

In [1]:
import numpy as np
import pandas as pd

## Concat
En esta ocasi칩n vamos a crear un DataFrame nuevo

In [5]:
df1 = pd.DataFrame({
    'A': ['A0', 'A1', 'A2', 'A3'],
    'B': ['B0', 'B1', 'B2', 'B3'],
    'C': ['C0', 'C1', 'C2', 'C3'],
    'D': ['D0', 'D1', 'C2', 'C3'],
})

df2 = pd.DataFrame({
    'A': ['A4', 'A5', 'A6', 'A7'],
    'B': ['B4', 'B5', 'B6', 'B7'],
    'C': ['C4', 'C5', 'C6', 'C7'],
    'D': ['D4', 'D5', 'C6', 'C7'],
})

Concatenar los DataFrames

In [6]:
pd.concat([df1, df2])

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  C2
3  A3  B3  C3  C3
0  A4  B4  C4  D4
1  A5  B5  C5  D5
2  A6  B6  C6  C6
3  A7  B7  C7  C7

Los indices persisten, para corregirlos podemos utilizar el parametro `ignore_index`

In [7]:
pd.concat([df1, df2], ignore_index=True)

    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1
2  A2  B2  C2  C2
3  A3  B3  C3  C3
4  A4  B4  C4  D4
5  A5  B5  C5  D5
6  A6  B6  C6  C6
7  A7  B7  C7  C7

Por axis 1

In [9]:
pd.concat([df1, df2], axis=1)

    A   B   C   D   A   B   C   D
0  A0  B0  C0  D0  A4  B4  C4  D4
1  A1  B1  C1  D1  A5  B5  C5  D5
2  A2  B2  C2  C2  A6  B6  C6  C6
3  A3  B3  C3  C3  A7  B7  C7  C7

## Merge
Creamos los DataFrames

In [10]:
izq = pd.DataFrame({
    'key' : ['k0', 'k1', 'k2','k3'],
    'A' : ['A0', 'A1', 'A2','A3'],
    'B': ['B0', 'B1', 'B2','B3']
})

der = pd.DataFrame({
    'key' : ['k0', 'k1', 'k2','k3'],
    'C' : ['C0', 'C1', 'C2','C3'],
    'D': ['D0', 'D1', 'D2','D3']
})

Unir el DataFrame Der a Izq

In [13]:
izq.merge(der, on='key')

  key   A   B   C   D
0  k0  A0  B0  C0  D0
1  k1  A1  B1  C1  D1
2  k2  A2  B2  C2  D2
3  k3  A3  B3  C3  D3

### Merge 2

In [16]:
izq = pd.DataFrame({
    'key' : ['k0', 'k1', 'k2','k3'],
    'A' : ['A0', 'A1', 'A2','A3'],
    'B': ['B0', 'B1', 'B2','B3']
})

der = pd.DataFrame({
    'key_2' : ['k0', 'k1', 'k2','k3'],
    'C' : ['C0', 'C1', 'C2','C3'],
    'D': ['D0', 'D1', 'D2','D3']
})

Hay diferencias entre algunas columnas, por esa raz칩n hay que separarlos de esta manera:

In [17]:
izq.merge(der, left_on = 'key', right_on='key_2')

  key   A   B key_2   C   D
0  k0  A0  B0    k0  C0  D0
1  k1  A1  B1    k1  C1  D1
2  k2  A2  B2    k2  C2  D2
3  k3  A3  B3    k3  C3  D3

### Merge 3

In [18]:
izq = pd.DataFrame({
    'key' : ['k0', 'k1', 'k2','k3'],
    'A' : ['A0', 'A1', 'A2','A3'],
    'B': ['B0', 'B1', 'B2','B3']
})

der = pd.DataFrame({
    'key_2' : ['k0', 'k1', 'k2', np.nan],
    'C' : ['C0', 'C1', 'C2','C3'],
    'D': ['D0', 'D1', 'D2','D3']
})

Si tenemos un NaNen nuestro DataFrame, pandas no lo detectar치 como un mach. Se soluciona con How, dando as칤, una preferencia.

In [20]:
# Default: izq.merge(der, left_on = 'key', right_on='key_2', how='inner')
# izq.merge(der, left_on = 'key', right_on='key_2', how='right')
izq.merge(der, left_on = 'key', right_on='key_2', how='left')

  key   A   B key_2    C    D
0  k0  A0  B0    k0   C0   D0
1  k1  A1  B1    k1   C1   D1
2  k2  A2  B2    k2   C2   D2
3  k3  A3  B3   NaN  NaN  NaN

### Recursos
- [pandas.concat](https://pandas.pydata.org/docs/reference/api/pandas.concat.html)
- [pandas.DataFrame.merge](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html)